input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 7px;
}


/* Set a style for the submit button */
.registerbtn {
  background-color: #572A84;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
}

.smallBtn {
  background-color: #572A84;
  color: white;
  border: none;
  border-radius: 7px;
  margin-left: 5px;
}

.btn-profile {
  background-color: #572A84;
  color: white;
}

.task-main-block {
  display: -webkit-box;
  margin-top: 10px;
}

.tasklist-block {
  overflow-y: scroll;
  height: 90vh;
  width: 300px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-right: 20px;
}

.taskitem-block {
  width: 180px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}